.container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.slideimg {
    max-width: 10em;;
    height: auto;
}

ul {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainPageContent {
    margin-left: 15em;
}
.sidebar {
    text-align: center;
    background: seashell;
    border-right: 1px solid black;
    overflow: auto;
    position: fixed;
    height: 100%;
}

.webLogo {
    width: 15em;
}

li {
    text-align: center;
}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    list-style: none;
    width: 15em;
}

li a:hover {
    background-color:#c9c9ff;
    text-decoration: none;
}

.userImg {
    border-radius: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}