body.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.slideimg {
    max-width: 10em;;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerText {
    display: flex;
    flex-direction: column;
}

.tab-pane {
    display: flex;
    flex-direction: column;
    margin-left: 233.01px;
    width: 100%;
}

.sidebar {
    text-align: center;
    background: lightgoldenrodyellow;
    overflow: auto;
    position: fixed;
    height: 100%;
    max-width: 15em;
}

.matchedUser {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/photographer2.jpg");
    padding: 0;
    margin: 0;
    height: 10em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.choiceList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.viewMatchedProfile a{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
}

.viewMatchedProfile a:hover {
    color: white;
}

li a#likeChoice,
li a#dislikeChoice {
    color: white;
    font-size: 1.5em;
}

li a#likeChoice:hover {
    background-color: green;
    text-decoration: none;

}

li a#dislikeChoice:hover {
    background-color: red;
    text-decoration: none;
}

.webLogo {
    width: 225px;
    margin: 4px;
}

li {
    text-align: center;
}

.nav-link {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    list-style: none;
    width: 15em;
}

li a.nav-link:hover {
    background-color:#c9c9ff;
    text-decoration: none;
}

.userImg {
    border-radius: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.tab-pane#homeContent {
    display: flex;
    justify-content: center;
}

body {
    font-family: "Lato", sans-serif;
}

/* text-align: center;
    background: lightgoldenrodyellow;
    overflow: auto;
    position: fixed;
    height: 100%;
    max-width: 15em;
} */

.sidebar {
    height: 100%;
    /* width: 0; */
    max-width: 15em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: auto;
    background: lightgoldenrodyellow;
    /* overflow: auto; */
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
