.container {
    display: flex;
    flex-direction: column;
}

.mainPage {
    display: flex;
}

header {
    text-align: center;
    background-color: rgba(189, 104, 104, 0.89);
    position: sticky;
    position: -webkit-stick;
    top: 0;
}

.slideimg {
    max-width: 10em;;
    height: auto;
}

ul {
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 15em;
}

.mainPageContent {
    flex: 3;
}
.sidebar {
    flex: 1;
    background: seashell;
    border-right: 1px solid black;
    overflow: auto;
    top: 0;
    position: static;
}

.usrImg {
    width: 100%;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    list-style: none;
}

li a:hover {
    background-color:#c9c9ff;
    text-decoration: none;
}

.usrImg {
    border-radius: 50%;
}